body {
  margin: 0;
  background: #0b0f19;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
}

.navbar {
  padding: 16px;
  background: #020617;
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 60px 20px;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 12px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.article {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.article-img {
  width: 100%;
  border-radius: 12px;
  margin: 20px 0;
}

textarea, input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  background: #020617;
  color: white;
  border: 1px solid #1f2933;
}